.auth-container {
    width: 100vw;
    height: 100vh;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    width: 410px;
    height: 508px;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.auth-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
    color: #3C3C3C;
    margin-top: 40px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: calc(var(--spacing) * 4);
}

.auth-email {
    width: 362px;
    height: 48px;
    margin-bottom: 12px;
    position: relative;
}

.auth-email-div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-radius: 18px;
    border: none;
    background-color: #F4F4F4;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
}

.auth-email-div:focus-within {
    border-color: #FF7A00;
    border: calc(var(--spacing) * 2) solid #FF7A00;
}

.auth-email-input {
    flex: 1;
    background: transparent;
    outline: none;
    color: black;
    border: none;
    margin-left: 20px;
    font-size: 16px;
}

.auth-button {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-500);
    background: none;
    border: none;
    padding: 0;
    padding-right: 15px;
}

.auth-button:hover {
    color: black;
}

